*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.card {
  width: 50%;
  max-width: 500px;
  min-width: 280px;
  height: auto;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  margin: 100px auto;
}

.card img {
  width: 100%;
}

.card h2 {
  text-align: center;
  margin: 20px 0 0 0;
}

.card p {
  padding: 20px;
}
