*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.card {
  width: 400px;
  height: 500px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  margin: 100px auto;
}

.card img {
  width: 100%;
}
